@media (max-width: 1600px) {
  .register-container {
    justify-content: space-around !important;
    width: 76% !important;
    height: 100% !important;
  }
  .registerInput {
    border-radius: 5px;
    height: 36px !important;
  }
  .registerLabel {
    margin-top: 4px !important;
    font-weight: bold;
  }
}

.register-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40vh;
  height: 100vh;
  margin-top: 20px;
}

.registerLabel {
  font-weight: bold;
}

.registerInput {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
}

.registerBtn {
  height: 50px;
  width: 240px;
  align-self: flex-end;
}

.form-container p {
  height: 10px;
}
