.uploadContainer {
  display: flex;
  width: 100%;
  gap: 6px;
}

.imageForm {
  align-self: center;
  justify-content: left;
  margin-right: 20px;
  margin-left: 40px;

  /* border: 3px solid orange; */
}

.imagesScroll {
  display: flex;
  overflow-x: scroll;
  gap: 8px;
  margin-right: 10px;
  cursor: pointer;
  /* border: 3px solid black; */
}
.imagesScrollOnImage:hover {
  transform: scale(1.2);
}

.buttonUploadImages {
  width: 100px;
  font-size: 14px;
}
