.uploadContainer {
  display: flex;
  width: 100%;
  gap: 6px;
}

.imageForm {
  align-self: center;
  justify-content: left;
  margin-right: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
}

.imagesScroll {
  display: flex;
  overflow-x: scroll;
  gap: 8px;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 25px;
}
.imagesScrollOnImage:hover {
  transform: scale(1.2);
}

.buttonUploadImages {
  width: 100px;
  font-size: 14px;
}

.loaderContainer {
  height: 30px;
  width: 30px;
  margin-top: 8px;
}
