.canvaContainer {
  /* background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%); */

  /* background-color: #4062bb;
  background-image: linear-gradient(315deg, #4062bb 0%, #ebebeb 74%); */

  /* background-color: #fefefe;
  background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%); */

  /* background: rgb(235, 235, 235);
  background: linear-gradient(
    90deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(64, 98, 187, 1) 100%
  ); */
  background-color: #d6d7e5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 100%;
  height: 120px;
  margin-top: -5vh;
}

.navbarElements {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.navbar img {
  height: 8vh;
}

.navbarImgs {
  display: flex;
  flex: start;
  align-self: center;
  width: 50%;
}

.navbarButton {
  height: 40px;
  background-color: whitesmoke;
}

.canvasEditor {
  border: 1px solid blue;
}

.toolsContainer {
  display: flex;
  flex-direction: column;
  width: 4vw;
}

.drawButtons {
  margin: 4px;
  padding: 2px;
  border-radius: 4px;
  height: 34px;
  width: 34px;
}
