.mainContainer {
  height: 100%;
  width: 100%;
  background-color: #90f25c;

  position: absolute;
}

.navbar {
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-around;
  /* background-color: #e5dad6; */
  width: 100%;
  height: 120px;
  border: 3px solid red;
}

.navbarElements {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 3px solid #ffff00;
}

.navbar img {
  height: 8vh;
}

.navbarImgs {
  display: flex;
  flex: start;
  align-self: center;
  width: 60%;
  border: 3px solid palevioletred;
}

.navbarButton {
  align-self: center;
  height: 46px;
  gap: 12px;
  background-color: whitesmoke;
  border: 3px solid firebrick;
}

.canvasEditor {
  display: flex;

  align-self: center;
  margin-left: 5%;

  border: 6px solid violet;
  /* justify-content: center; */
  margin-top: 120px;

  margin-right: 2%;
  position: relative;
}

.sidebarContainer {
  display: flex;
  margin-top: 20vh;
  position: fixed;
  z-index: 10;
  border: 3px solid lawngreen;
}

.toolsContainer {
  display: flex;
  flex-direction: column;
  width: 4vw;
  border: 3px solid brown;
}

.logicContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid aquamarine;
}

.drawButtons {
  margin: 4px;
  padding: 2px;
  border-radius: 4px;
  height: 36px;
  width: 36px;
}

.drawButtons > * {
  pointer-events: none;
}
