.ProfileMainContainer {
	background-color: #d6d7e5;
	/* height: 100vh; */
}

.albumsContainer {
	margin-top: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	height: 550px;
	width: 96%;
	margin-left: 2%;
	background-color: #ffffff7e;
}

.albumList {
	display: flex;
	align-items: center;
	height: 500px;
	width: 100%;
	overflow-x: auto;
	border-radius: 6px;
	border: 2px solid #d6d7e5;
	background-color: #ffffff6d;
}

.albumList p {
	font-family: 'Ubuntu';
	width: 100%;
	display: flex;
	justify-content: center;
}

.newAlbum {
	display: flex;
	justify-content: center;
	margin: 40px;
}

.loginText {
	font-family: 'Ubuntu';
	display: flex;
	align-items: center;
}

.profileContainer {
	width: 96%;
	align-items: center;
}

.sortBtn {
	display: flex;
	font-size: 24px;
	color: #132830;
	margin-left: 2px;
}
