.ProfileMainContainer {
  background-color: #d6d7e5;
  /* height: 100vh; */
}

.albumsContainer {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 550px;
  width: 96%;
  margin-left: 2%;
  background-color: #ffffff7e;
}

.albumList {
  display: flex;
  align-items: center;
  height: 500px;
  width: 98%;
  overflow-x: auto;
  border-radius: 6px;
  border: 2px solid #d6d7e5;
  background-color: #ffffff6d;
}

.newAlbumButton {
  margin: 50px;
  margin-left: 40px;
}
