.albumFrontPage {
  border-radius: 6px;
  margin-left: 40px;
  margin-right: 40px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.albumFrontImage {
  border-radius: 6px;
  max-height: 350px;
  transition: transform 300ms ease;
  cursor: pointer;
}
.albumFrontPage:hover .albumFrontImage {
  transform: scale(1.2);
}
.albumTitle {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.8px;
  font-size: 40px;
  z-index: 1;
  position: absolute;
  text-align: center;
  user-select: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  cursor: pointer;
}

.toolButton {
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  user-select: none;
  top: -25%;
  left: -5%;
  color: white;
}
.toolButton:hover {
  transform: scale(1.5);
  color: #ffb140;
}

.albumTools {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 12px;
  top: -8%;
  left: -6.5%;
  gap: 14px;
  background-color: #d6d7e582;
  border-radius: 6px;
  box-shadow: 0.4px 0.4px 2px #132830;
}

.toolIcon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  z-index: 1;
  user-select: none;
  color: white;
}

.toolIcon:hover {
  transform: scale(1.5);
  color: #ffb140;
}
