.loader {
  width: 20px;
  height: 20px;
  position: flex;
  /* margin-top: 8px; */
  margin-left: 40px;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 3px solid #8900ff;
  border-right: 3px solid transparent;
  animation: spinner8217 0.8s linear infinite;
}

@keyframes spinner8217 {
  to {
    transform: rotate(360deg);
  }
}
